@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


nav {
  z-index: 900;
  width: 100%;
  height: 50px;
  position: fixed;
}

nav .logo {
  position: fixed;
margin: 1.5rem;
z-index: 500;
}

nav .ul-desktop {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  margin: 1.5rem;
  padding-top: 1rem;
}



.grid {
  position: relative;
  margin: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 300px 175px 100px;
  gap: 2rem;
  grid-template-areas: 
  'image image news'
  'title content-p news'
  'article-1 article-2 article-3';
}

.grid >* {
 
}

#image {
  grid-area: image;
  background-image: url(/assets/images/image-web-3-desktop.jpg);
  background-size: cover;
}

.title {
  grid-area: title;
}

.content-p {
  grid-area: content-p;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  
}

.news {
  grid-area: news;
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: var(--padding);
}

.news-articles  {
display: flex;
flex-direction: column;
gap: 1rem;
flex-grow: 1;
}

hr {
width: 100%;
border-color: var(--color-light);
}

.news h3 {
  line-height: 2;
}

.grid > a:nth-of-type(1) {
  grid-area: article-1;
}
.grid > a:nth-of-type(2) {
  grid-area: article-2;
}
.grid > a:nth-of-type(3) {
  grid-area: article-3;
}

.article {
  display: flex;
  gap: 1rem;
  margin-top: 2.5rem;
}

.article img {
  background-size: contain;
  background-position: center;
}


.article-content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

@media screen and (max-width: 756px){
  .grid {
    grid-template-areas: 
  'image'
  'title'
  'content-p'
  'news'
  'article-1'
  'article-2'
  'article-3';
  grid-template-columns: 100%;
 grid-template-rows: repeat(7, minmax(min-content, max-content) );
  
  }

  #image {
    aspect-ratio: 1;
  }
}