/* ------------------------- Colors -------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  --primary: rgb(243, 87, 66);
  --secondary: rgb(6, 15, 34);
  --accent: rgb(236, 171, 73);
--color-light: rgb(117, 117, 117);
--color-white: white;
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  --padding: 2rem 1.25rem;
  padding-top: 4rem;
  --animation-smooth: all 0.7s cubic-bezier(0.7, 0, 0.3, 1);
}





/* ------------------------- Body -------------------------------------------------- */

*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

li,
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}



html,
body {
	width: 100%;
	-webkit-font-smoothing: antialiased;
	position: relative;
	background-color: var(--color-lightgray);
}

/* Selection */

::selection {
	background-color: var(--color-primary);
	color: var(--color-dark);
	text-shadow: none;
}

::-moz-selection {
	background-color: var(--color-primary);
	color: var(--color-dark);
	text-shadow: none;
}

/* General */

canvas,
img,
video {
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}

svg {
	max-width: none;
	height: auto;
	box-sizing: border-box;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

::-webkit-scrollbar {
	display: none;
}

.main-wrap {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

/* ------------------------- Typography -------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
ul,
ol,
span,
strong,
em {
	padding: 0;
	margin: 0;
	font-style: normal;
	font-weight: 800;
	letter-spacing: normal;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
p:last-child,
p.big:last-child,
p.small:last-child,
a:last-child,
strong:last-child {
	margin-bottom: 0;
}

h1 {
	font-family: "GH Sans", sans-serif;
	font-weight: bolder;
	font-style: normal;
	font-size: calc(clamp(2em, 5vw, 5em) * 1);
	line-height: 1;
	color: var(--color-dark);
}

.default-header h1 {
	font-size: calc(clamp(6em, 9vw, 12em) * 0.9);
}

@media screen and (max-width: 740px) {
	h1 {
		font-size: 11vw;
	}
	.default-header h1 {
		font-size: 15vw;
	}
}

h2 {
	font-family: "GH Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: calc(clamp(3em, 5vw, 16em) * 0.9);
	line-height: 0.9;
	color: var(--accent);
}

@media screen and (max-width: 540px) {
	h2 {
		font-size: 10vw;
	}
}

h3 {
	font-family: "GH Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: calc(clamp(4.5em, 5vw, 5em) * 0.3);
	line-height: 1.1;
	color: var(--color-white);
}

@media screen and (max-width: 540px) {
	h3 {
		font-size: 5.5vw;
	}
}

h4 {
	font-family: "GH Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: calc(clamp(6em, 9vw, 12em) * 0.255);
	line-height: 1.15;
	color: var(--color-light);
	text-transform: uppercase;
}

@media screen and (max-width: 720px) {
	h4 {
		font-size: min(6vw, 2em);
	}
}

h5 {
	font-family: "GH Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.1em;
	line-height: 1.25;
	color: var(--color-light);
	text-transform: uppercase;
}

p {
	font-family: "GH Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1em;
	line-height: 1.4;
	margin-bottom: 1em;
	color: var(--color-light);
}

span.data {
	font-family: "GH Sans", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 0.85em;
	line-height: 0.9;
	margin-bottom: 0;
	color: var(--color-dark);
	text-transform: uppercase;
	display: block;
}

span.data.data-medium {
	font-size: 0.85em;
	opacity: 0.4;
}

span.data.data-big {
	font-size: 1.2em;
}

.theme-serif .serif,
.theme-serif .serif span {
	font-family: "GH Serif", sans-serif;
	font-style: italic;
	font-weight: 305;
}

.theme-no-italic .serif,
.theme-no-italic .serif span {
	font-family: "GH Serif", sans-serif;
	font-style: normal;
	font-weight: 405;
}

.theme-serif .theme-light .serif,
.theme-serif .theme-light .serif span {
	font-weight: 305;
}

.bold {
	font-weight: 700;
}


.theme-light h3,
.theme-light h4,
.theme-light h5 {
	color: var(--color-dark);
	font-weight: bold;
}

.light p {
	color: var(--color-text);
}

p.small {
	font-size: 0.8em;
	line-height: 1.75;
	letter-spacing: 0.015em;
}

p.big {
	font-size: 1.2em;
}

strong {
	font-weight: 800;
}

a {
	color: var(--color-primary);
	text-decoration: none;
}

.theme-light a {
	color: var(--color-secondary);
}

p a {
	text-decoration: underline;
}

.theme-dark h1,
.theme-dark h2,
.theme-dark h3,
.theme-dark h4,
.theme-dark h5,
.theme-dark p {
	color: var(--color-light);
}

.theme-light h2,
.theme-light p {
	color: var(--color-light);
}

/* ------------------------- Main Elements -------------------------------------------------- */


.section.theme-light {
	background: var(--color-lightgray);
}

.section-wrap {
	display: block;
	padding-top: 0;
	padding-bottom: 0;
	position: relative;
}

.section.full-height {
	min-height: 100vh;
	min-height: calc(100vh + var(--section-padding-small));
	display: flex;
	align-items: flex-end;
	padding-bottom: calc(var(--section-padding-small) * 2);
}

.section.no-padding {
	padding-top: unset;
	padding-bottom: unset;
}

.container {
	margin: 0 auto;
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
	width: 100%;
}

.container.large {
	max-width: 75%;
}

.container.medium {
	max-width: 66%;
}

.container.small {
	max-width: 60%;
}

.container.no-padding {
	padding-left: unset;
	padding-right: unset;
}

.row {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.row.no-flex {
	display: block;
}

.row.no-wrap {
	flex-wrap: nowrap;
}

.flex-col {
	display: block;
	width: 100%;
	order: 2;
	position: relative;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.overlay-2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 50%;
	width: 50%;
}

img.overlay,
video.overlay {
	object-fit: cover;
}

.line {
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--color-border-light);
	margin-top: var(--section-padding-small);
	margin-bottom: var(--section-padding-small);
}

.stripe {
	display: block;
	width: 100%;
	height: 1px;
	background-color: var(--color-border-light);
}

.theme-light .line,
.theme-light .stripe {
	background-color: var(--color-border);
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.row.split .flex-col {
	width: calc(50% - (var(--container-padding) / 2));
}

.row.split .flex-col:nth-child(odd) {
	margin-right: var(--container-padding);
}

@media screen and (max-width: 1024px) {
	.section.full-height {
		min-height: 100vh;
		min-height: calc((var(--vh, 1vh) * 100) + var(--section-padding-small));
		max-height: 100vh;
		padding-bottom: calc(var(--section-padding-small) * 2);
	}
	.container.large {
		max-width: 92.5%;
	}
	.container.medium {
		max-width: 80%;
	}
	.container.small {
		max-width: 70%;
	}
}

@media screen and (max-width: 720px) {
	.row.split .flex-col {
		width: 100%;
	}
	.row.split .flex-col:nth-child(odd) {
		margin-right: 0;
	}
	.container.large {
		max-width: 100%;
	}
	.container.medium {
		max-width: 100%;
	}
	.container.small {
		max-width: 100%;
	}
}


/* ------------------------- Buttons -------------------------------------------------- */



.btn {
	margin-bottom: 0.33em;
	position: relative;
	border: 0;
	outline: 0;
	color: white;
}

.btn input {
	cursor: pointer;
}

.btn-click {
	cursor: pointer;
	border: 0;
	background: var(--primary);
	min-width: 1em;
	padding: 0.8rem;
	font-size: 1.2em;
	font-weight: 600;
	width: 10rem;
	text-decoration: none;
	will-change: transform;
	outline: 0;
	text-transform: uppercase;
	background-size: 300%;
}

.btn-click:hover {
	cursor: pointer;
	background-color: var(--secondary);
	transition: var(--animation-smooth);

}

.btn-text {
	display: flex;
	justify-content: center;
}

a:hover {
color: var(--primary);
	transition: var(--animation-smooth);
}




/* --- Button Link External --- */

@media screen and (max-width: 540px) {
	.btn-click {
		font-size: 1em;
	}
}




input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: #000;
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
	box-shadow: 0 0 0px 1000px #fff inset;
	transition: background-color 5000s ease-in-out 0s;
}

input[type="radio"] {
	-webkit-appearance: none;
}
